@model CPW217_PortfolioProject2021.Models.Item
@inject Microsoft.Extensions.Configuration.IConfiguration _config

@{
	ViewData["Title"] = "Item";
	string storageUrlStart = _config["BlobStorageUrl"];
}

@Html.AntiForgeryToken()

<div class="card-columns" style="display: inline-block; width: inherit">
	<div class="card" style="width: 45rem;">
		<img src="@(storageUrlStart + "photos/" + Model.PhotoUrl)" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">@Model.Name</h5>
			<p class="card-text">@Model.Description</p>
			<a href="@(storageUrlStart + "models/" + Model.ModelUrl)" class="btn btn-primary">Download</a>
			@if (true /* Is author of item*/)
			{
				<div style="display:inline-block; width:inherit; float: right;">
					<a asp-controller="Items" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary m-1">
						Edit
					</a>

				</div>
				
				<div style="display:inline-block; width:inherit; float: right;">
					<div class="delete-section">
						<a class="delete-link btn btn-danger m-1" href="@Url.Action("Delete", "Items", new { id = Model.Id })">Delete</a>
						<form class="delete-form" asp-controller="Items" asp-action="Delete" style="display: none;">
                            <input type="hidden" asp-for="Id" />
							<input type="submit" value="Confirm Delete" class="btn btn-primary m-1" />
						</form>
					</div>
					<div class="spinner-border" role="status" style="display: none">
						<span class="sr-only"></span>
					</div>
				</div>
				
			}
		</div>
	</div>
	<div class="card border-0" style="width: 10rem;">
		<div>
			<button class="btn btn-block btn-outline-secondary m-1" type="button">Like</button>
			<button class="btn btn-block btn-outline-secondary m-1" type="button">Comment</button>
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
	$(function () {
        $("a.delete-link").click(function () {
            var deleteLink = $(this);
            deleteLink.hide();
            var deleteForm = $("form.delete-form");
			deleteForm.show();
			var spinner = $("div.spinner-border");

            var cancelDelete =  function () {
                removeEvents();
                showDeleteLink();
            };

			var showLoading = function () {
				deleteForm.hide();
				spinner.show();
			}

            var removeEvents = function () {
                deleteForm.off("click", deleteItem);
                $(document).on("click", cancelDelete);
                $(document).off("keypress", onKeyPress);
            };

            var showDeleteLink = function () {
                deleteForm.hide();
                deleteLink.show();
            };

            var onKeyPress = function (e) {
                //Cancel if escape key pressed
                if (e.which == 27) {
                    cancelDelete();
                }
            };

			deleteForm.on("click", showLoading);
            $(document).on("click", cancelDelete);
            $(document).on("keypress", onKeyPress);

            return false;
        });

        AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        };
    });
	</script>
}